
@{
    ViewData["Title"] = "Add new Student";
}


@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>
    <form method="post">
        <div class="form-group">
            <label>Full Name</label>
            <input class="form-control" type="text" name="full_name" value="" />
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input class="form-control" type="text" name="dob" value="" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" value="" />
        </div>
        <div class="form-group">
            <label>Home Phone</label>
            <input class="form-control" type="text" name="home_phone" value="" />
        </div>

        <input type="submit" name="Add Student" />
    </form>
}
else
{
    <div class="alert alert-success">@ViewData["Added"]</div>
}